.main-title {
  font-family: "Copperplate", Copperplate, serif;
  font-size: max(1em,4vw);
  font-weight: bold ;
  min-height: 1em;
  max-height: 1.6em;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg{
  margin: 0.2vw;
  min-height: 2em;
  max-height: 4em;
  height:6vw;
  cursor: pointer;
}
