.basicCard {
  padding: 10px;
  text-align: center;
  align-items: center;
  ion-card-header{
    padding: 1px;
    text-align: left;
    ion-card-title{
      margin: 0px;
      font-size:xx-large;
    }
  }
  ion-card-content{
    padding: 2px;
    color: lightgray;
    max-height: 240px;
    ion-item{
     --background:transparent;
     --border-color: transparent;
    }
    ion-text{
      display: flex;
      line-height: 1.1;
      margin-bottom: 1px;
    }
  }
}
.basicCard:hover {
  box-shadow: 0 5px 5px -3px rgba(241, 234, 234, 0.2),
    0 8px 10px 1px rgba(219, 218, 218, 0.14),
    0 3px 14px 2px rgba(216, 211, 211, 0.12);
}


.cardList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  ion-card{
    width: 500px;
    height: 600px;
    ion-grid{
      height: 240px;
    }
    ion-list{
      height: 300px;
    }
  }
}


ion-col{
  margin: 0;
  padding: 0;
}


.flex-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



ion-modal {
  --height: wrap;
  --width: wrap;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgb(253, 250, 250);
  opacity: 1;
}
