.modal-buttons {
  display: flex;
  justify-content: center;
}

.main-card{
  height: fit-content;
  overflow-y: auto;
}
ion-card{
  margin-bottom: 0;
}
ion-card-content{
  margin-bottom: 0;
}

p{
  margin-left: 2px;
}

.slotContent{
  padding: 2px;
}
