.modal-buttons {
  display: flex;
  justify-content: center;
}

.main-card{
  height: fit-content;
  overflow-y: auto;
  background-color: #bb9264;
}
ion-card{
  margin-bottom: 0;
}
ion-card-content{
  margin-bottom: 0;
}

p{
  margin-left: 2px;
}

.slot-content{
  padding: 2px;
  padding-left: 10px;
}

.home-title-fontsize{
  font-size: 100px;
  color: brown;
}
.home-fontsize{
  font-size: x-large;
}

.red-paragraph{
  color: rgb(185, 0, 0);
}

h2{
  font-size: large;
  text-decoration: underline;
}

ion-accordion{
  padding: 1px;
  background-color: transparent;
  border: solid 1px #2e261e;
}

ion-list{
  background-color: transparent;
  padding: 0;
  margin-left: -22px;
  ion-item{
    background-color: transparent;
    color: #2e261e;
    --background:transparent;
    ion-img{
      padding-right: 4px;
      padding-left: 4px;
    }
  }
}
