<ion-card class="main-card">
	<ion-card-header>
		<ion-card-title class="home-title-fontsize">
			Welcome to FOE Statistics!
		</ion-card-title>
		<ion-card-subtitle class="home-fontsize">
			<p>
				<b>
					The purpose is to create an objective ranking of the special buildings and Great Monuments in Forge
					of Empires.
				</b>
			</p>
			<p>
				For this, the method is simple: to calculate an
				<b>
					efficiency rate based on normal, common, or 1x1 buildings
				</b>
				.
			</p>
			<p>
				<i>
					Remember that if you like a building, ultimately that's the most important thing. Here, we focus on
					providing a mathematical overview.
				</i>
			</p>
		</ion-card-subtitle>
	</ion-card-header>
	<ion-card-content>
		<ion-accordion-group value="Site">
			<ion-accordion value="Site">
				<ion-item slot="header" color="light">
					<ion-label>How to start</ion-label>
				</ion-item>
				<div slot="content" class="slot-content">
					<h2>Data</h2>
					<p>
						This website store the building list on your browser cache. If you clear it, everything will be
						reset !
					</p>
					<p class="red-paragraph">
						<b>To start</b>
						(and refresh data),
						<b>
							press the arrow button on top-right.
						</b>
						It will get data on the game wikia. It will take about one minute. Do not close the site while
						the arrow is blue !
					</p>
					<p>
						The data is pulled from <a
							href="https://docs.google.com/spreadsheets/d/1o93Xv8juozCKnU3N1BdoON6cDx7rSICgYwYWZggqT6k/edit?usp=sharing"
							target="_blank">this google datasheet</a>. Do not hesitate to contribute to it.
					</p>
					<h2>Visualisation</h2>
					<p>
						Each card describe a building statistics. The detailed values are unitary (for 1 tile of the
						building).
					</p>
					<p>
						Difference between "Special" and "Event" buildings here is that Event buildings needs roads.
					</p>
					<p>
						Certain Unique Bonuses could not be calculated. The efficiency is then displayed in italic and
						orange. Thus, this efficiency is undervalued.
					</p>
					<h2>Customization</h2>
					<p class="red-paragraph">
						A
						<b>Benchmark</b>
						is available. You can adjust it as you wish to give more or less importance to certain bonuses,
						and the calculations will be automatically updated.
					</p>
				</div>
			</ion-accordion>
			<ion-accordion value="Mathematical">
				<ion-item slot="header" color="light">
					<ion-label>Mathematical Choices</ion-label>
				</ion-item>
				<div slot="content" class="slot-content">
					<p>
						<b>
							The Great Buildings (GBs) have been based on their level 40
						</b>
						, which is a good compromise and may potentially be reviewed upwards by more advanced players.
					</p>
					<p>
						The calculation age is set to Space Age Titan, which is neutral for age-dependent bonuses but
						devalues fixed bonuses. In other words, the ranking for an early-game player might be a bit
						different.
					</p>
					<span>
						<h2>Specifications :</h2>
						<ul style="text-align: left; margin: 0;">
							<i>
								<li>
									All "motivation" bonuses are considered acquired.
								</li>
								<li>
									Limited uses bonuses are considered acquired.
								</li>
								<li>
									War tributes, diplomatic gifts and similar are considered acquired.
								</li>
								<li>
									Any random reward is replaced by its average.
								</li>
								<li>
									Criticals are calculated as an attack increase: chance x 0.5.
								</li>
								<li>
									All Great Buildings with missing attribute are indicated with a *
								</li>
								<li>
									The Tropical Forest estimation is calculated on an estimated base chance of 2%, with
									100 daily interractions
								</li>
								<li>
									Special goods are considered as 2 resources each (average cost of expedition)
								</li>
							</i>
						</ul>
					</span>
				</div>
			</ion-accordion>
			<ion-accordion value="Base Values">
				<ion-item slot="header" color="light">
					<ion-label>Base Values</ion-label>
				</ion-item>
				<div slot="content" class="slot-content">
					<ion-list>
						<ion-item>
							<ion-img src="assets/standard/happiness.png" alt="Happiness"></ion-img>
							<ion-label>
								<b>Satellite Dish</b> - 1000 (unique attribute)
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-img src="assets/standard/medal.png" alt="Medal"></ion-img>
							<ion-label>
								<b>Victory Tower 2</b> - 100 (unique attribute)
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-img src="assets/standard/supplies.png" alt="Supplies"></ion-img>
							<ion-label>
								<b>Testing Site</b> - 3000 (unique attribute)
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-img src="assets/standard/resources.png" alt="Resources"></ion-img>
							<ion-label>
								<b>A 4x5 building</b> - 1 (unique attribute)
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-img src="assets/standard/att_attacker.png" alt="Att attacker"></ion-img>
							<ion-img src="assets/standard/att_attacker_gbg.png"
								alt="Att attacker Guild BattleGround"></ion-img>
							<ion-img src="assets/standard/att_attacker_gex.png"
								alt="Att attacker Guild Expedition"></ion-img>
							<ion-img src="assets/standard/def_attacker.png" alt="Def attacker"></ion-img>
							<ion-img src="assets/standard/def_attacker_gbg.png"
								alt="Def attacker Guild BattleGround"></ion-img>
							<ion-img src="assets/standard/def_attacker_gex.png"
								alt="Def attacker Guild Expedition"></ion-img>
							<ion-img src="assets/standard/att_defender.png" alt="Att Defender"></ion-img>
							<ion-img src="assets/standard/att_defender_gbg.png"
								alt="Att Defender Guild BattleGround"></ion-img>
							<ion-img src="assets/standard/att_defender_gex.png"
								alt="Att Defender Guild Expedition"></ion-img>
							<ion-img src="assets/standard/def_defender.png" alt="Def Defender"></ion-img>
							<ion-img src="assets/standard/def_defender_gbg.png"
								alt="Def Defender Guild BattleGround"></ion-img>
							<ion-img src="assets/standard/def_defender_gex.png"
								alt="Def Defender Guild Expedition"></ion-img>
							<ion-label>
								<b>Towers lvl2</b> - 4% (unique attribute)
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-img src="assets/standard/gold.png" alt="Gold"></ion-img>
							<ion-label>
								<b>Astronaut Training Dormitory</b> - 1000 (50% attribute)
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-img src="assets/standard/population.png" alt="Population"></ion-img>
							<ion-label>
								<b>Astronaut Training Dormitory</b> - 20000 (50% attribute)
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-img src="assets/standard/percentagegold.png" alt="Percentage Gold "></ion-img>
							<ion-img src="assets/standard/percentagesupplies.png" alt="Percentage Supplies"></ion-img>
							<ion-label>
								<b>Trader Guard Post</b> - 3 (considering as 50% attribute)
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-img src="assets/standard/forgepoint.png" alt="Forge Point"></ion-img>
							<ion-label>
								<b>Shrine of Knowledge 2</b> - 1 (considering as 50% attribute)
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-img src="assets/standard/diamond.png" alt="Diamond"></ion-img>
							<ion-label>
								<b>Little Wishing Well</b> - 0.04 (unique attribute, 50 at 1% chance)
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-img src="assets/standard/blueprint.png" alt="Medal"></ion-img>
							<ion-label>
								<b>Shrine of Inspiration</b> - 0.2 (considering as 50% attribute)
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-img src="assets/standard/military.png" alt="Military"></ion-img>
							<ion-label>
								1
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-img src="assets/standard/guild_resources.png" alt="Guild Resources"></ion-img>
							<ion-label>
								1
							</ion-label>
						</ion-item>
					</ion-list>
				</div>
			</ion-accordion>
			<ion-accordion value="Help or bug ?">
				<ion-item slot="header" color="light">
					<ion-label>
						Need help or report bug ?
					</ion-label>
				</ion-item>
				<div slot="content" class="slot-content">
					Need help or want to contribute? :
					<a href="https://github.com/Fx73/foe-stats" target="_blank">
						Visit Github
						<ion-icon name="logo-github" alt="https://github.com/Fx73/foe-stats">
						</ion-icon>
					</a>
					<br>
					Found a bug or have a feature request?
					<a href="https://github.com/Fx73/foe-stats/issues" target="_blank">
						Create an issue on GitHub.
					</a>
				</div>
			</ion-accordion>
		</ion-accordion-group>
	</ion-card-content>
</ion-card>
<div class="modal-buttons">
	<ion-button (click)="dismiss()">OK</ion-button>
	<ion-button (click)="dismissAndHide()" color="secondary">
		Don't show again
	</ion-button>
</div>